<body>
  <div class="wrapper">
    <form (submit)="onSubmit()" enctype="multipart/form-data">
      <div class="avatar">
        <img *ngIf="imagePreview" [src]="imagePreview" alt="User Avatar" />
        <input type="file" (change)="onImageChange($event)" name="image" />
      </div>
      <h2>Sign Up</h2>

      <div class="input-field">
        <input type="text" [(ngModel)]="firstName" name="firstName" required />
        <label>Enter your first name</label>
      </div>

      <div class="input-field">
        <input type="text" [(ngModel)]="lastName" name="lastName" required />
        <label>Enter your last name</label>
      </div>

      <div class="input-field">
        <input type="email" [(ngModel)]="email" name="email" required />
        <label>Enter your email</label>
      </div>

      <div class="input-field">
        <input type="password" [(ngModel)]="password" name="password" required />
        <label>Create password</label>
      </div>

      <div class="input-field">
        <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required />
        <label>Confirm password</label>
      </div>

      <div class="input-field">
        <input type="text" [(ngModel)]="phoneNumber" name="phoneNumber" required />
        <label>Enter your phone number</label>
      </div>

      <div class="input-field">
        <select [(ngModel)]="selectedRole" name="role" required>
          <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
        </select>
        <label>Select your role</label> 
      </div>
      

      <button type="submit">Sign Up</button>

      <div class="register">
        <p>Already have an account? <a routerLink="/login">Login</a></p>
      </div>
    </form>
  </div>
</body>
